<h2>My Todo's</h2>
<div class="alert alert-warning" role="alert" *ngIf="systemMsg">
  {{systemMsg}}
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
      <th scope="col">Date</th>
      <th scope="col">DELETE</th>
      <th scope="col">UPDATE</th>
    </tr>
  </thead>
  <tbody *ngFor="let todo of todos">
    <tr>
      <th scope="row">{{todo.id}}</th>
      <td>{{todo.description}}</td>
      <td>{{todo. done}}</td>
      <td>{{todo.targetDate | date}}</td>
      <td>
        <button (click)="deletetodo(todo.id)" 
        class="btn btn-primary">DELETE</button>
      </td>
      <td>
        <button (click)="updatetodo(todo.id)" 
        class="btn btn-primary">UPDATE</button>
      </td>
    </tr>

  </tbody>
</table>

<button (click)="add()" 
        class="btn btn-primary">New</button>